@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display: flex; justify-content: space-evenly">
    <h1><a href="/products">Go To Products</a></h1>
    <h1><a href="/categories">Go To Categories</a></h1>
</div>
